@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Html.ActionLink("Add Member", "AddMember", "Member", null, new { @class = "collapse-item" })</h2>
<h2>@Html.ActionLink("Add Food Order", "Order", "Order", null, new { @class = "collapse-item" })</h2>
<h2>@Html.ActionLink("Add Report", "Report", "Report", null, new { @class = "collapse-item" })</h2>

